## 조달에 참여한 기업 / 조달에 참여하지 않은 기업 -> 즉 TobinsQ 데이터에 조달 데이터 left join

In [1]:
import pandas as pd
from glob import glob
import numpy as np
import copy
path = 'C:/Users/0630r/inha2/Research/Dart/Dart_file/support_data'

In [19]:
list_20 = sorted(glob(path + "/2020/*.csv"))
list_21 = sorted(glob(path + "/2021/*.csv"))
list_22 = sorted(glob(path + "/2022/*.csv"))  
#folders= os.listdir('marcap/data')
#for files in forders:

In [20]:
df_2020 = pd.DataFrame()
for file in list_20:
    df = pd.read_csv(file)
    df_2020 = pd.concat([df_2020, df], axis = 0)
    df_2020 = df_2020[['등록유형', '공고게시일자','입찰공고번호','공고기관명', '입찰업체사업자등록번호', '수요기관구분', '참가수', '입찰금액', '낙찰여부', '업종제한여부', '업종제한내용', '지역제한내용']]

df_2021 = pd.DataFrame()
for file in list_21:
    df = pd.read_csv(file)
    df_2021 = pd.concat([df_2021, df], axis = 0)
    df_2021 = df_2021[['등록유형', '공고게시일자','입찰공고번호', '공고기관명', '입찰업체사업자등록번호', '수요기관구분', '참가수', '입찰금액', '낙찰여부', '업종제한여부', '업종제한내용', '지역제한내용']]

df_2022 = pd.DataFrame()
for file in list_22:
    df = pd.read_csv(file)
    df_2022 = pd.concat([df_2022, df], axis = 0)
    df_2022 = df_2022[['등록유형', '공고게시일자','입찰공고번호', '공고기관명', '입찰업체사업자등록번호', '수요기관구분', '참가수', '입찰금액', '낙찰여부', '업종제한여부', '업종제한내용', '지역제한내용']]

C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:3: DtypeWarning: Columns (2,4,47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:3: DtypeWarning: Columns (2,4,47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:3: DtypeWarning: Columns (2,4,47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:3: DtypeWarning: Columns (2,4,44,45,46,47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:3: DtypeWarning: Columns (2,4,47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:3: DtypeWarning: Columns (2,4,47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:3: DtypeWarning: Columns (2,4,47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:3: DtypeWarning: Columns (2,4,29,47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:3: DtypeWarning: Columns (2,4,47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:3: DtypeWarning: Columns (2,4,47,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:3: DtypeWarning: Columns (2,4,47,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:3: DtypeWarning: Columns (2,4,47,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:3: DtypeWarning: Columns (2,4,47,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:3: DtypeWarning: Columns (2,4,47,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:3: DtypeWarning: Columns (2,4,47,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:3: DtypeWarning: Columns (2,4,47,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:3: DtypeWarning: Columns (2,47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:9: DtypeWarning: Columns (2,4,47,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:9: DtypeWarning: Columns (2,4,44,45,46,47,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:9: DtypeWarning: Columns (2,4,47,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:9: DtypeWarning: Columns (2,4,47,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:9: DtypeWarning: Columns (2,4,47,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:9: DtypeWarning: Columns (2,4,44,45,46,47,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:9: DtypeWarning: Columns (2,4,41,42,44,45,46,47,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:9: DtypeWarning: Columns (2,4,47,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:9: DtypeWarning: Columns (2,4,47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:9: DtypeWarning: Columns (2,4,29,44,45,46,47,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:9: DtypeWarning: Columns (2,4,12,13,14,15,30,35,41,42,44,45,46,47,49,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:9: DtypeWarning: Columns (2,4,47,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:9: DtypeWarning: Columns (2,4,47,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:9: DtypeWarning: Columns (2,4,29,47,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:9: DtypeWarning: Columns (2,4,47,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:9: DtypeWarning: Columns (2,4,47,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:9: DtypeWarning: Columns (2,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:15: DtypeWarning: Columns (2,4,27,47,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:15: DtypeWarning: Columns (2,4,27,41,42,44,45,46,47,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:15: DtypeWarning: Columns (2,4,27,47,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:15: DtypeWarning: Columns (2,4,27,47,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:15: DtypeWarning: Columns (2,4,8,11,26,27,47,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:15: DtypeWarning: Columns (2,4,27,47,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:15: DtypeWarning: Columns (2,4,47,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:15: DtypeWarning: Columns (2,4,47,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:15: DtypeWarning: Columns (2,4,47,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:15: DtypeWarning: Columns (2,4,47,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:15: DtypeWarning: Columns (2,4,47,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:15: DtypeWarning: Columns (2,4,47,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:15: DtypeWarning: Columns (2,4,47,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:15: DtypeWarning: Columns (2,4,47,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\0630r\AppData\Local\Temp\ipykernel_19500\4025821073.py:15: DtypeWarning: Columns (2,4,47,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)

In [25]:
# 사업자등록번호 , 연도, 입찰횟수, 낙찰금액, 경쟁횟수
df_bid = pd.concat([df_2020, df_2021, df_2022], axis = 0)
df_bid.reset_index(drop=True, inplace = True)
df_bid.drop(df_bid[df_bid['입찰업체사업자등록번호'] == 'F000000696'].index, inplace = True)
df_bid.drop(df_bid[df_bid['입찰업체사업자등록번호'] == 'F000000809'].index, inplace = True) # 폴란드의 금속 가공 회사 -> 주가 데이터에 존재하지 않아서 삭제
df_bid['입찰업체사업자등록번호'] = pd.to_numeric(df_bid['입찰업체사업자등록번호'])

In [26]:
import re
import numpy as np
 
df_bid['참가수'] = df_bid['참가수'].apply(lambda x: re.sub(',', '', str(x)) if re.findall('\d+', str(x)) else np.nan) # type => int로 변경
df_bid['참가수'] = pd.to_numeric(df_bid['참가수']) 
df_bid['입찰금액'] = df_bid['입찰금액'].apply(lambda x: re.sub(',', '', str(x)) if re.findall('\d+', str(x)) else np.nan) # type => int로 변경
df_bid['입찰금액'] = pd.to_numeric(df_bid['입찰금액'])
df_bid['입찰공고번호'] = df_bid['입찰공고번호'].apply(lambda x: re.sub('[,-]', '', str(x)) if re.findall('\d+', str(x)) else np.nan) # [, -] 제거

In [29]:
df_bid.to_parquet('orign_bid.pqt') ## 원본 bid 데이터 저장

In [2]:
path = 'C:/Users/0630r/inha2/Research/Dart/Dart_file/real_code/pqt_file/'
df_bid = pd.read_parquet(path + 'orign_bid.pqt', engine = 'pyarrow')
df_bid

,등록유형,공고게시일자,입찰공고번호,공고기관명,입찰업체사업자등록번호,수요기관구분,참가수,입찰금액,낙찰여부,업종제한여부,업종제한내용,지역제한내용
0,나라장터(G2B),20200102,20191241947,조달청 인천지방조달청,1218211789,공기업,1.0,2.380000e+06,Y,N,None,None
1,나라장터(G2B),20200102,20191241963,조달청 인천지방조달청,1048620001,공기업,1.0,2.380200e+06,Y,N,None,None
2,나라장터(G2B),20200102,20200100170,한국보훈복지의료공단 중앙보훈병원,2148753956,준정부기관,1.0,6.834780e+08,Y,N,None,None
3,나라장터(G2B),20200102,20200100178,한국보훈복지의료공단 중앙보훈병원,1138657370,준정부기관,1.0,1.991412e+08,Y,N,None,None
4,나라장터(G2B),20200102,20191236817,조달청 대구지방조달청,2128208426,지자체,1.0,1.210000e+08,Y,N,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
14170523,자체전자조달시스템,20221226,202296021,한국도로공사,1278609047,None,NaN,2.499860e+09,N,None,None,None
14170524,자체전자조달시스템,20221226,202296021,한국도로공사,5020144383,None,NaN,2.506757e+09,N,None,None,None
14170525,자체전자조달시스템,20221226,202296021,한국도로공사,4108620323,None,NaN,2.520860e+09,N,None,None,None
14170526,자체전자조달시스템,20221226,202296021,한국도로공사,5888801225,None,NaN,2.527308e+09,N,None,None,None
14170527,자체전자조달시스템,20221226,202296021,한국도로공사,1428126415,None,NaN,2.654321e+09,N,None,None,None

In [ ]:
df_bid['공고게시일자'] = (df_bid['공고게시일자'].values / 1e2).astype(int) # year 컬럼 생성
df_bid['연도'] = (df_bid['공고게시일자'].values / 1e2).astype(int) # year 컬럼 생성
df_bid['분기'] = df_bid['공고게시일자'].apply(lambda x: int(str(x)[4:])) # 분기 생성
df_bid['분기'] = (df_bid['분기'] - 1) // 3 + 1 
df_bid['분기'] = df_bid['분기'].apply(lambda x: str(x)+'Q')
df_bid.drop(columns = '공고게시일자', inplace = True)
df_bid = df_bid.reindex(columns = ['연도', '분기', '입찰업체사업자등록번호', '수요기관구분', '참가수', '입찰금액', '낙찰여부'])
df_bid.dropna(inplace = True)
df_bid.rename(columns = {'입찰업체사업자등록번호':'사업자등록번호'}, inplace = True)
df_bid

            연도  분기     사업자등록번호 수요기관구분  참가수         입찰금액 낙찰여부
0         2020  1Q  1218211789    공기업  1.0    2380000.0    Y
1         2020  1Q  1048620001    공기업  1.0    2380200.0    Y
2         2020  1Q  2148753956  준정부기관  1.0  683477980.0    Y
3         2020  1Q  1138657370  준정부기관  1.0  199141220.0    Y
4         2020  1Q  2128208426    지자체  1.0  121000000.0    Y
...        ...  ..         ...    ...  ...          ...  ...
14168278  2022  4Q  6208151748   교육기관  3.0       1400.0    Y
14168279  2022  4Q  3630501453   교육기관  3.0      27200.0    N
14168280  2022  4Q  6100109969   교육기관  3.0      31000.0    N
14168281  2022  4Q  5071283543   교육기관  2.0       1940.0    Y
14168282  2022  4Q  6202060299   교육기관  2.0       1950.0    N

[13945931 rows x 7 columns]

### 1. bid_nodemand data

In [ ]:
## 기업, 연도, 분기, 기관별 1.낙찰수, 2. 입찰금액sum, 3. 입찰 참여 수 4. 낙찰사업 참여자수 
## 입찰 횟수
df_size = df_bid.groupby(['연도','분기', '사업자등록번호']).size() # 사업자등록번호별 입찰횟수
df_size.name = '입찰횟수'
df_size = pd.DataFrame(df_size)
df_size = df_size.reset_index()
df_size

          연도  분기     사업자등록번호  입찰횟수
0       2020  1Q  1010116082    12
1       2020  1Q  1010116587     1
2       2020  1Q  1010118644     1
3       2020  1Q  1010145888     7
4       2020  1Q  1010146043   109
...      ...  ..         ...   ...
462721  2022  4Q  8998701899    29
462722  2022  4Q  8998800373     2
462723  2022  4Q  8998800524     7
462724  2022  4Q  8998801692    11
462725  2022  4Q  8998802352    99

[462726 rows x 4 columns]

In [ ]:
## 낙찰횟수, 낙찰사업 평균참여수, 낙찰금액
df_Y = df_bid.loc[df_bid.낙찰여부 == 'Y', :] # 낙찰한 기업들 
df_Y = df_Y.groupby(['연도', '분기', '사업자등록번호']).agg({'참가수': np.mean, '입찰금액': np.sum, '낙찰여부': np.size})
df_Y.reset_index(inplace = True)
df_Y.rename(columns = {'참가수': '낙찰사업평균참여수', '낙찰여부': '낙찰수', '입찰금액': '낙찰금액'}, inplace = True)
df_Y

          연도  분기     사업자등록번호  낙찰사업평균참여수          낙찰금액  낙찰수
0       2020  1Q  1010145888       4.50  5.407900e+05    2
1       2020  1Q  1010148814       2.00  2.860000e+07    1
2       2020  1Q  1010154956     296.00  2.119200e+02    1
3       2020  1Q  1010211051       3.00  2.000100e+08    1
4       2020  1Q  1010266027       9.00  1.730100e+08    1
...      ...  ..         ...        ...           ...  ...
122471  2022  4Q  8989101379     176.00  1.085036e+07    1
122472  2022  4Q  8998100995       3.00  2.928600e+07    1
122473  2022  4Q  8998101000      28.00  1.256629e+08    1
122474  2022  4Q  8998601927      29.25  2.603552e+08    4
122475  2022  4Q  8998800524      32.00  1.061815e+08    1

[122476 rows x 6 columns]

In [ ]:
col = ['연도', '분기', '사업자등록번호']
bid_tt = pd.merge(df_size, df_Y, how = 'left', on = col) # 입찰횟수 data + 낙찰횟수 data
bid_tt.fillna(0, inplace = True)
bid_tt

          연도  분기     사업자등록번호  입찰횟수  낙찰사업평균참여수         낙찰금액  낙찰수
0       2020  1Q  1010116082    12        0.0          0.0  0.0
1       2020  1Q  1010116587     1        0.0          0.0  0.0
2       2020  1Q  1010118644     1        0.0          0.0  0.0
3       2020  1Q  1010145888     7        4.5     540790.0  2.0
4       2020  1Q  1010146043   109        0.0          0.0  0.0
...      ...  ..         ...   ...        ...          ...  ...
462721  2022  4Q  8998701899    29        0.0          0.0  0.0
462722  2022  4Q  8998800373     2        0.0          0.0  0.0
462723  2022  4Q  8998800524     7       32.0  106181490.0  1.0
462724  2022  4Q  8998801692    11        0.0          0.0  0.0
462725  2022  4Q  8998802352    99        0.0          0.0  0.0

[462726 rows x 7 columns]

In [ ]:
bid_tt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 462726 entries, 0 to 462725
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   연도         462726 non-null  int64
 1   분기         462726 non-null  object
 2   사업자등록번호    462726 non-null  int64
 3   입찰횟수       462726 non-null  int64
 4   낙찰사업평균참여수  462726 non-null  float64
 5   낙찰금액       462726 non-null  float64
 6   낙찰수        462726 non-null  float64
dtypes: float64(3), int64(3), object(1)
memory usage: 28.2+ MB

In [ ]:
bid_tt.to_parquet('bid_nodemand.pqt') # 수요기관 없는 데이터 저장
# 완    
# bid_nodemand 한 개 저장

### 2. bid_final data

In [ ]:
# 낙찰 Y인 애들은 기준 평균 
bid_Y = df_bid[df_bid['낙찰여부'] == 'Y']
bid_Y.groupby('수요기관구분')['입찰금액'].mean().sort_values()

수요기관구분
지자체     1.784022e+08
국가기관    2.517861e+08
공기업     4.534625e+08
Name: 입찰금액, dtype: float64

In [22]:
# Top 3 기관 
# 공기업(공기업, 지방공기업)
# 정부기관(준정부기관, 국가기관, 기타공공기관, 기타기관)
# 지자체(지자체 출자출연기관, 지자체)
# 교육기관 삭제

In [23]:
## 교육기관이 조달금액의 규모가 가장 작음으로 제외
## 수요이관 변환
df_bid['수요기관구분'] = np.where(df_bid['수요기관구분'] == '지방공기업', '공기업', df_bid.수요기관구분)
df_bid['수요기관구분'] = np.where(df_bid['수요기관구분'] == '준정부기관', '국가기관', df_bid.수요기관구분)
df_bid['수요기관구분'] = np.where(df_bid['수요기관구분'] == '기타공공기관', '국가기관', df_bid.수요기관구분)
df_bid['수요기관구분'] = np.where(df_bid['수요기관구분'] == '지자체 출자출연기관', '지자체', df_bid.수요기관구분)
df_bid['수요기관구분'] = np.where(df_bid['수요기관구분'] == '기타기관', '국가기관', df_bid.수요기관구분)
df_bid.drop(df_bid.loc[df_bid['수요기관구분'] == '교육기관','수요기관구분'].index, inplace = True)
df_bid['수요기관구분'].value_counts()

국가기관    6208202
지자체     2937793
공기업     2147258
Name: 수요기관구분, dtype: int64

In [24]:
## 기업, 연도, 분기, 기관별 1.낙찰수, 2. 입찰금액sum, 3. 입찰 참여 수 4. 낙찰사업 참여자수

In [27]:
## 입찰 횟수
df_size1 = df_bid.groupby(['연도','분기', '사업자등록번호', '수요기관구분']).size()
df_size1.name = '입찰횟수'
df_size1 = pd.DataFrame(df_size1)
df_size1 = df_size1.reset_index()
df_size1

          연도  분기     사업자등록번호 수요기관구분  입찰횟수
0       2020  1Q  1010116082   국가기관     1
1       2020  1Q  1010116082    지자체    11
2       2020  1Q  1010116587   국가기관     1
3       2020  1Q  1010118644    공기업     1
4       2020  1Q  1010145888    지자체     7
...      ...  ..         ...    ...   ...
809082  2022  4Q  8998801692   국가기관     2
809083  2022  4Q  8998801692    지자체     5
809084  2022  4Q  8998802352    공기업    20
809085  2022  4Q  8998802352   국가기관    53
809086  2022  4Q  8998802352    지자체    25

[809087 rows x 5 columns]

In [28]:
## 낙찰횟수, 낙찰사업 평균참여수, 낙찰금액
df_Y1 = df_bid.loc[df_bid.낙찰여부 == 'Y', :]
df_Y1 = df_Y1.groupby(['연도', '분기', '사업자등록번호', '수요기관구분']).agg({'참가수': np.mean, '입찰금액': np.sum, '낙찰여부': np.size})
df_Y1.reset_index(inplace = True)
df_Y1.rename(columns = {'참가수': '평균참여수', '낙찰여부': '낙찰수', '입찰금액': '낙찰금액'}, inplace = True)
df_Y1

          연도  분기     사업자등록번호 수요기관구분   평균참여수          낙찰금액  낙찰수
0       2020  1Q  1010145888    지자체    4.50  5.407900e+05    2
1       2020  1Q  1010148814   국가기관    2.00  2.860000e+07    1
2       2020  1Q  1010154956   국가기관  296.00  2.119200e+02    1
3       2020  1Q  1010211051   국가기관    3.00  2.000100e+08    1
4       2020  1Q  1010266027    지자체    9.00  1.730100e+08    1
...      ...  ..         ...    ...     ...           ...  ...
114547  2022  4Q  8988701654   국가기관    3.00  3.267000e+07    1
114548  2022  4Q  8998100995    지자체    3.00  2.928600e+07    1
114549  2022  4Q  8998101000   국가기관   28.00  1.256629e+08    1
114550  2022  4Q  8998601927   국가기관   29.25  2.603552e+08    4
114551  2022  4Q  8998800524    지자체   32.00  1.061815e+08    1

[114552 rows x 7 columns]

In [36]:
# 연도별 분기별 기업별 수요기관별 
col = ['연도', '분기', '사업자등록번호', '수요기관구분']
bid_tt1 = pd.merge(df_size1, df_Y1, how = 'left', on = col)
bid_tt1.fillna(0, inplace = True)
bid_tt1

          연도  분기     사업자등록번호 수요기관구분  입찰횟수  평균참여수      낙찰금액  낙찰수
0       2020  1Q  1010116082   국가기관     1    0.0       0.0  0.0
1       2020  1Q  1010116082    지자체    11    0.0       0.0  0.0
2       2020  1Q  1010116587   국가기관     1    0.0       0.0  0.0
3       2020  1Q  1010118644    공기업     1    0.0       0.0  0.0
4       2020  1Q  1010145888    지자체     7    4.5  540790.0  2.0
...      ...  ..         ...    ...   ...    ...       ...  ...
809082  2022  4Q  8998801692   국가기관     2    0.0       0.0  0.0
809083  2022  4Q  8998801692    지자체     5    0.0       0.0  0.0
809084  2022  4Q  8998802352    공기업    20    0.0       0.0  0.0
809085  2022  4Q  8998802352   국가기관    53    0.0       0.0  0.0
809086  2022  4Q  8998802352    지자체    25    0.0       0.0  0.0

[809087 rows x 8 columns]

In [37]:
## 여기서부터 수요기관별 열 추가하여 정리
bid_tt1['입찰횟수(공기업)'] = np.where(bid_tt1.수요기관구분 == '공기업', bid_tt1.입찰횟수, 0) # np.where(조건, T, F)
bid_tt1['평균참여수(공기업)'] = np.where(bid_tt1['수요기관구분'] == '공기업', bid_tt1['평균참여수'], 0)
bid_tt1['낙찰금액(공기업)'] = np.where(bid_tt1.수요기관구분 == '공기업', bid_tt1.낙찰금액, 0)
bid_tt1['낙찰수(공기업)'] = np.where(bid_tt1.수요기관구분 == '공기업', bid_tt1.낙찰수, 0)

bid_tt1['입찰횟수(지자체)'] = np.where(bid_tt1.수요기관구분 == '지자체', bid_tt1.입찰횟수, 0)
bid_tt1['평균참여수(지자체)'] = np.where(bid_tt1['수요기관구분'] == '지자체', bid_tt1['평균참여수'], 0)
bid_tt1['낙찰금액(지자체)'] = np.where(bid_tt1.수요기관구분 == '지자체', bid_tt1.낙찰금액, 0)
bid_tt1['낙찰수(지자체)'] = np.where(bid_tt1.수요기관구분 == '지자체', bid_tt1.낙찰수, 0)

bid_tt1['입찰횟수(국가기관)'] = np.where(bid_tt1.수요기관구분 == '국가기관', bid_tt1.입찰횟수, 0)
bid_tt1['평균참여수(국가기관)'] = np.where(bid_tt1['수요기관구분'] == '국가기관', bid_tt1['평균참여수'], 0)
bid_tt1['낙찰금액(국가기관)'] = np.where(bid_tt1.수요기관구분 == '국가기관', bid_tt1.낙찰금액, 0)
bid_tt1['낙찰수(국가기관)'] = np.where(bid_tt1.수요기관구분 == '국가기관', bid_tt1.낙찰수, 0)

In [38]:
bid_tt1

,연도,분기,사업자등록번호,수요기관구분,입찰횟수,평균참여수,낙찰금액,낙찰수,입찰횟수(공기업),평균참여수(공기업),낙찰금액(공기업),낙찰수(공기업),입찰횟수(지자체),평균참여수(지자체),낙찰금액(지자체),낙찰수(지자체),입찰횟수(국가기관),평균참여수(국가기관),낙찰금액(국가기관),낙찰수(국가기관)
0,2020,1Q,1010116082,국가기관,1,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,1,0.0,0.0,0.0
1,2020,1Q,1010116082,지자체,11,0.0,0.0,0.0,0,0.0,0.0,0.0,11,0.0,0.0,0.0,0,0.0,0.0,0.0
2,2020,1Q,1010116587,국가기관,1,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,1,0.0,0.0,0.0
3,2020,1Q,1010118644,공기업,1,0.0,0.0,0.0,1,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0.0,0.0
4,2020,1Q,1010145888,지자체,7,4.5,540790.0,2.0,0,0.0,0.0,0.0,7,4.5,540790.0,2.0,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
809082,2022,4Q,8998801692,국가기관,2,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,2,0.0,0.0,0.0
809083,2022,4Q,8998801692,지자체,5,0.0,0.0,0.0,0,0.0,0.0,0.0,5,0.0,0.0,0.0,0,0.0,0.0,0.0
809084,2022,4Q,8998802352,공기업,20,0.0,0.0,0.0,20,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0.0,0.0
809085,2022,4Q,8998802352,국가기관,53,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,53,0.0,0.0,0.0
809086,2022,4Q,8998802352,지자체,25,0.0,0.0,0.0,0,0.0,0.0,0.0,25,0.0,0.0,0.0,0,0.0,0.0,0.0

In [39]:
bid_tt1 = bid_tt1.groupby(['연도', '분기', '사업자등록번호']).sum() 
bid_tt1.reset_index(inplace = True)
bid_tt1.drop(columns = ['입찰횟수', '평균참여수', '낙찰수'], axis = 1, inplace = True)
bid_tt1

C:\Users\0630r\AppData\Local\Temp\ipykernel_18516\760573025.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  bid_tt1 = bid_tt1.groupby(['연도', '분기', '사업자등록번호']).sum() # 중복 -> groupby로 정리

,연도,분기,사업자등록번호,낙찰금액,입찰횟수(공기업),평균참여수(공기업),낙찰금액(공기업),낙찰수(공기업),입찰횟수(지자체),평균참여수(지자체),낙찰금액(지자체),낙찰수(지자체),입찰횟수(국가기관),평균참여수(국가기관),낙찰금액(국가기관),낙찰수(국가기관)
0,2020,1Q,1010116082,0.0,0,0.0,0.0,0.0,11,0.0,0.0,0.0,1,0.0,0.0,0.0
1,2020,1Q,1010116587,0.0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,1,0.0,0.0,0.0
2,2020,1Q,1010118644,0.0,1,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0.0,0.0
3,2020,1Q,1010145888,540790.0,0,0.0,0.0,0.0,7,4.5,540790.0,2.0,0,0.0,0.0,0.0
4,2020,1Q,1010146043,0.0,16,0.0,0.0,0.0,12,0.0,0.0,0.0,79,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440748,2022,4Q,8998701899,0.0,21,0.0,0.0,0.0,0,0.0,0.0,0.0,8,0.0,0.0,0.0
440749,2022,4Q,8998800373,0.0,1,0.0,0.0,0.0,0,0.0,0.0,0.0,1,0.0,0.0,0.0
440750,2022,4Q,8998800524,106181490.0,0,0.0,0.0,0.0,3,32.0,106181490.0,1.0,4,0.0,0.0,0.0
440751,2022,4Q,8998801692,0.0,2,0.0,0.0,0.0,5,0.0,0.0,0.0,2,0.0,0.0,0.0
440752,2022,4Q,8998802352,0.0,20,0.0,0.0,0.0,25,0.0,0.0,0.0,53,0.0,0.0,0.0

In [41]:
bid_tt1.to_parquet('bid_final.pqt')
# 완

In [42]:
bid_tt1

,연도,분기,사업자등록번호,낙찰금액,입찰횟수(공기업),평균참여수(공기업),낙찰금액(공기업),낙찰수(공기업),입찰횟수(지자체),평균참여수(지자체),낙찰금액(지자체),낙찰수(지자체),입찰횟수(국가기관),평균참여수(국가기관),낙찰금액(국가기관),낙찰수(국가기관)
0,2020,1Q,1010116082,0.0,0,0.0,0.0,0.0,11,0.0,0.0,0.0,1,0.0,0.0,0.0
1,2020,1Q,1010116587,0.0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,1,0.0,0.0,0.0
2,2020,1Q,1010118644,0.0,1,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0.0,0.0
3,2020,1Q,1010145888,540790.0,0,0.0,0.0,0.0,7,4.5,540790.0,2.0,0,0.0,0.0,0.0
4,2020,1Q,1010146043,0.0,16,0.0,0.0,0.0,12,0.0,0.0,0.0,79,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440748,2022,4Q,8998701899,0.0,21,0.0,0.0,0.0,0,0.0,0.0,0.0,8,0.0,0.0,0.0
440749,2022,4Q,8998800373,0.0,1,0.0,0.0,0.0,0,0.0,0.0,0.0,1,0.0,0.0,0.0
440750,2022,4Q,8998800524,106181490.0,0,0.0,0.0,0.0,3,32.0,106181490.0,1.0,4,0.0,0.0,0.0
440751,2022,4Q,8998801692,0.0,2,0.0,0.0,0.0,5,0.0,0.0,0.0,2,0.0,0.0,0.0
440752,2022,4Q,8998802352,0.0,20,0.0,0.0,0.0,25,0.0,0.0,0.0,53,0.0,0.0,0.0

In [15]:
## orign_bid, bid_final 두 개 저장