In [5]:
import pandas as pd
import seaborn as sns
import numpy as np
import copy

In [6]:
path = 'C:/Users/0630r/inha2/Research/Dart/Dart_file/real_code/pqt_file/'
total_df = pd.read_parquet(path + 'total_df.pqt', engine = 'pyarrow')
total_df1 = pd.read_parquet(path + 'total_nodemand.pqt', engine = 'pyarrow')

## KOSPI TobinsQ 정리 (표1)

In [7]:
total_df

,회사명,시기,매출,영업이익,총당기순이익,영업이익률,연구개발비,TobinsQ,업종분류코드,시장,...,입찰횟수_지자체,평균참여수_지자체,낙찰금액_지자체,낙찰수_지자체,입찰횟수_국가기관,평균참여수_국가기관,낙찰금액_국가기관,낙찰수_국가기관,낙찰여부,입찰여부
0,3S,20201,2.259202e+10,4.671810e+08,0.000000e+00,0.020679,5.323600e+07,2.191006,C,KOSDAQ,...,0.0,0.0,0.0,0.0,1.0,4.0,4.800000e+08,1.0,True,True
1,3S,20202,4.265512e+09,-3.499970e+08,-4.673000e+08,-0.082053,8.397100e+07,2.289685,C,KOSDAQ,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,False,False
2,3S,20203,1.097065e+10,-8.039280e+08,-1.181574e+09,-0.073280,9.066300e+07,2.044231,C,KOSDAQ,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,False,False
3,3S,20204,1.973514e+10,-6.666700e+08,-9.868740e+08,-0.033781,9.793400e+07,1.862129,C,KOSDAQ,...,0.0,0.0,0.0,0.0,8.0,4.0,2.221000e+09,5.0,True,True
4,3S,20211,2.347791e+10,-1.408266e+09,6.953350e+08,-0.059983,9.362800e+07,1.974030,C,KOSDAQ,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18820,힘스,20204,1.062062e+11,2.496818e+10,1.720465e+10,0.235092,3.928327e+09,1.237415,C,KOSDAQ,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,False,False
18821,힘스,20211,1.056385e+10,-1.882489e+09,-1.472020e+08,-0.178201,9.431670e+08,1.320697,C,KOSDAQ,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,False,False
18822,힘스,20212,2.498312e+10,-2.604794e+09,-5.351920e+08,-0.104262,1.886100e+09,1.214401,C,KOSDAQ,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,False,False
18823,힘스,20213,4.565592e+10,2.519869e+09,4.704930e+09,0.055193,3.764687e+09,0.962185,C,KOSDAQ,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,False,False
18824,힘스,20214,5.058420e+10,-4.371187e+09,-4.413920e+08,-0.086414,3.632138e+09,0.967528,C,KOSDAQ,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,False,False

In [8]:
kospi = total_df1[total_df1['시장'] == 'KOSPI']
display(kospi.groupby(['연도','낙찰여부']).agg({'TobinsQ':np.mean}) , kospi.groupby(['연도','낙찰여부']).agg({'TobinsQ':np.std, '낙찰여부':np.size}))

             TobinsQ
연도   낙찰여부
2020 False  0.597580
     True   0.552881
2021 False  0.696663
     True   0.613875
2022 False  0.594731
     True   0.524085

             TobinsQ  낙찰여부
연도   낙찰여부
2020 False  0.470633  2094
     True   0.388058   156
2021 False  0.513167  2188
     True   0.431563   158
2022 False  0.456017  2121
     True   0.325203   131

## KOSDAQ TobinsQ 정리(표1)

In [9]:
kosdaq = total_df1[total_df1['시장'] == 'KOSDAQ']
display(kosdaq.groupby(['연도','낙찰여부']).agg({'TobinsQ':np.mean}) , kosdaq.groupby(['연도','낙찰여부']).agg({'TobinsQ':np.std, '낙찰여부':np.size}))

             TobinsQ
연도   낙찰여부
2020 False  0.820011
     True   0.870903
2021 False  0.970342
     True   1.050884
2022 False  0.830163
     True   0.869946

             TobinsQ  낙찰여부
연도   낙찰여부
2020 False  0.573430  3523
     True   0.563641   198
2021 False  0.608267  3717
     True   0.655868   228
2022 False  0.582624  3942
     True   0.564513   191

## KONEX TobinsQ 정리(표1)

In [10]:
konex = total_df1[total_df1['시장'] == 'KONEX']
display(konex.groupby(['연도','낙찰여부']).agg({'TobinsQ':np.mean}) , konex.groupby(['연도','낙찰여부']).agg({'TobinsQ':np.std,'낙찰여부':np.size}))

             TobinsQ
연도   낙찰여부
2020 False  0.969810
     True   0.901265
2021 False  1.136769
     True   1.120724
2022 False  1.074860
     True   0.703747

             TobinsQ  낙찰여부
연도   낙찰여부
2020 False  0.641795    49
     True   0.546620     6
2021 False  0.689217    55
     True   0.910138     6
2022 False  0.612544    57
     True   0.567141     5

## 조달 사업 상장/비상장 비교 테이블(표2)

In [11]:
df_bid = pd.read_parquet(path+ 'orign_bid.pqt', engine = 'pyarrow') # bid 원본 데이터
df_bid

,등록유형,공고게시일자,입찰공고번호,공고기관명,입찰업체사업자등록번호,수요기관구분,참가수,입찰금액,낙찰여부,업종제한여부,업종제한내용,지역제한내용
0,나라장터(G2B),20200102,20191241947,조달청 인천지방조달청,1218211789,공기업,1.0,2.380000e+06,Y,N,None,None
1,나라장터(G2B),20200102,20191241963,조달청 인천지방조달청,1048620001,공기업,1.0,2.380200e+06,Y,N,None,None
2,나라장터(G2B),20200102,20200100170,한국보훈복지의료공단 중앙보훈병원,2148753956,준정부기관,1.0,6.834780e+08,Y,N,None,None
3,나라장터(G2B),20200102,20200100178,한국보훈복지의료공단 중앙보훈병원,1138657370,준정부기관,1.0,1.991412e+08,Y,N,None,None
4,나라장터(G2B),20200102,20191236817,조달청 대구지방조달청,2128208426,지자체,1.0,1.210000e+08,Y,N,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
14170523,자체전자조달시스템,20221226,202296021,한국도로공사,1278609047,None,NaN,2.499860e+09,N,None,None,None
14170524,자체전자조달시스템,20221226,202296021,한국도로공사,5020144383,None,NaN,2.506757e+09,N,None,None,None
14170525,자체전자조달시스템,20221226,202296021,한국도로공사,4108620323,None,NaN,2.520860e+09,N,None,None,None
14170526,자체전자조달시스템,20221226,202296021,한국도로공사,5888801225,None,NaN,2.527308e+09,N,None,None,None
14170527,자체전자조달시스템,20221226,202296021,한국도로공사,1428126415,None,NaN,2.654321e+09,N,None,None,None

In [12]:
df_bid['공고게시일자'] = (df_bid['공고게시일자'].values / 1e2).astype(int) # year 컬럼 생성
df_bid['연도'] = (df_bid['공고게시일자'].values / 1e2).astype(int) # year 컬럼 생성
df_bid.drop(columns = '공고게시일자', inplace = True)
df_bid = df_bid.reindex(columns = ['연도','입찰공고번호', '입찰업체사업자등록번호', '수요기관구분', '입찰금액', '낙찰여부'])
df_bid # 사업자 등록번호 int임

            연도       입찰공고번호  입찰업체사업자등록번호 수요기관구분          입찰금액 낙찰여부
0         2020  20191241947   1218211789    공기업  2.380000e+06    Y
1         2020  20191241963   1048620001    공기업  2.380200e+06    Y
2         2020  20200100170   2148753956  준정부기관  6.834780e+08    Y
3         2020  20200100178   1138657370  준정부기관  1.991412e+08    Y
4         2020  20191236817   2128208426    지자체  1.210000e+08    Y
...        ...          ...          ...    ...           ...  ...
14170523  2022    202296021   1278609047   None  2.499860e+09    N
14170524  2022    202296021   5020144383   None  2.506757e+09    N
14170525  2022    202296021   4108620323   None  2.520860e+09    N
14170526  2022    202296021   5888801225   None  2.527308e+09    N
14170527  2022    202296021   1428126415   None  2.654321e+09    N

[14170524 rows x 6 columns]

In [13]:
## 교육기관이 조달금액의 규모가 가장 작음으로 제외
df_bid['수요기관구분'] = np.where(df_bid['수요기관구분'] == '지방공기업', '공기업', df_bid.수요기관구분)
df_bid['수요기관구분'] = np.where(df_bid['수요기관구분'] == '준정부기관', '국가기관', df_bid.수요기관구분)
df_bid['수요기관구분'] = np.where(df_bid['수요기관구분'] == '기타공공기관', '국가기관', df_bid.수요기관구분)
df_bid['수요기관구분'] = np.where(df_bid['수요기관구분'] == '지자체 출자출연기관', '지자체', df_bid.수요기관구분)
df_bid['수요기관구분'] = np.where(df_bid['수요기관구분'] == '기타기관', '국가기관', df_bid.수요기관구분)
df_bid.drop(df_bid.loc[df_bid['수요기관구분'] == '교육기관','수요기관구분'].index, inplace = True)
df_bid['수요기관구분'].value_counts()

국가기관    6324558
지자체     2950019
공기업     2166964
Name: 수요기관구분, dtype: int64

In [14]:
df_Y = df_bid.loc[df_bid.낙찰여부 == 'Y', :]
df_Y.dropna(inplace = True)
df_Y.rename(columns = {'입찰업체사업자등록번호': '사업자등록번호'}, inplace = True)
df_Y # 낙찰 받은 애들 데이터

C:\Users\0630r\AppData\Local\Temp\ipykernel_7544\551835814.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Y.dropna(inplace = True)
C:\Users\0630r\AppData\Local\Temp\ipykernel_7544\551835814.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Y.rename(columns = {'입찰업체사업자등록번호': '사업자등록번호'}, inplace = True)

            연도       입찰공고번호     사업자등록번호 수요기관구분         입찰금액 낙찰여부
0         2020  20191241947  1218211789    공기업    2380000.0    Y
1         2020  20191241963  1048620001    공기업    2380200.0    Y
2         2020  20200100170  2148753956   국가기관  683477980.0    Y
3         2020  20200100178  1138657370   국가기관  199141220.0    Y
4         2020  20191236817  2128208426    지자체  121000000.0    Y
...        ...          ...         ...    ...          ...  ...
14168119  2022  20221246106  5438101257    지자체   70962000.0    Y
14168158  2022  20221246034  1378604355    지자체  199752520.0    Y
14168212  2022  20221246067  6158618363    지자체  110238380.0    Y
14168248  2022  20221246475  6043196748   국가기관   26250000.0    Y
14168258  2022  20221246774  4108668875   국가기관  204600000.0    Y

[164282 rows x 6 columns]

In [15]:
tobinsQ_tt= pd.read_parquet(path + 'tobinsQ_final.pqt', engine = 'pyarrow') # tobinsQ 정리 데이터
tobinsQ_tt0=tobinsQ_tt.groupby(['entity_name','연도', '사업자등록번호']).agg({'market':'first'})
tobinsQ_tt0.reset_index(inplace = True)
tobinsQ_tt0

     entity_name    연도       사업자등록번호  market
0             3S  2020  1.298116e+09  KOSDAQ
1             3S  2021  1.298116e+09  KOSDAQ
2             3S  2022  1.298116e+09  KOSDAQ
3         AJ네트웍스  2020  2.148649e+09   KOSPI
4         AJ네트웍스  2021  2.148649e+09   KOSPI
...          ...   ...           ...     ...
6399          희림  2021  2.148116e+09  KOSDAQ
6400          희림  2022  2.148116e+09  KOSDAQ
6401          힘스  2020  2.298136e+09  KOSDAQ
6402          힘스  2021  2.298136e+09  KOSDAQ
6403          힘스  2022  2.298136e+09  KOSDAQ

[6404 rows x 4 columns]

In [16]:
col = ['연도', '사업자등록번호']
tobinsQ_Y = pd.merge(df_Y, tobinsQ_tt0, how = 'left', on = col) # bid 데이터를 기준으로 tobinsQ 묶은 데이터 -> 상장/비상장 기업 모두 있는 데이터
tobinsQ_Y

,연도,입찰공고번호,사업자등록번호,수요기관구분,입찰금액,낙찰여부,entity_name,market
0,2020,20191241947,1218211789,공기업,2380000.0,Y,NaN,NaN
1,2020,20191241963,1048620001,공기업,2380200.0,Y,NaN,NaN
2,2020,20200100170,2148753956,국가기관,683477980.0,Y,NaN,NaN
3,2020,20200100178,1138657370,국가기관,199141220.0,Y,NaN,NaN
4,2020,20191236817,2128208426,지자체,121000000.0,Y,NaN,NaN
...,...,...,...,...,...,...,...,...
164277,2022,20221246106,5438101257,지자체,70962000.0,Y,NaN,NaN
164278,2022,20221246034,1378604355,지자체,199752520.0,Y,NaN,NaN
164279,2022,20221246067,6158618363,지자체,110238380.0,Y,NaN,NaN
164280,2022,20221246475,6043196748,국가기관,26250000.0,Y,NaN,NaN
164281,2022,20221246774,4108668875,국가기관,204600000.0,Y,NaN,NaN

In [17]:
tobinsQ_Y.입찰공고번호.nunique()

151818

In [18]:
lst_company = tobinsQ_Y.loc[tobinsQ_Y['entity_name'].notnull(), :] # 상장기업
unlst_company = tobinsQ_Y.loc[tobinsQ_Y['entity_name'].isnull(), :] # 비상장기업
display(lst_company.head(), unlst_company.head())
## 예시 lst_company 4,5번 행 엑셀상에서도 대한 과학은 같은 공고에 3번 받음 -> 입찰금액 sum()

,연도,입찰공고번호,사업자등록번호,수요기관구분,입찰금액,낙찰여부,entity_name,market
38,2020,20200100683,3148128793,국가기관,649000.0,Y,알에프세미,KOSDAQ
182,2020,20200102317,6038111270,국가기관,70000000.0,Y,CJ프레시웨이,KOSDAQ
204,2020,20200102575,4168114765,공기업,161390000.0,Y,썬테크,KONEX
412,2020,20191240318,1018125905,국가기관,23540.0,Y,대한과학,KOSDAQ
531,2020,20191240318,1018125905,국가기관,261250.0,Y,대한과학,KOSDAQ

     연도       입찰공고번호     사업자등록번호 수요기관구분         입찰금액 낙찰여부 entity_name market
0  2020  20191241947  1218211789    공기업    2380000.0    Y         NaN    NaN
1  2020  20191241963  1048620001    공기업    2380200.0    Y         NaN    NaN
2  2020  20200100170  2148753956   국가기관  683477980.0    Y         NaN    NaN
3  2020  20200100178  1138657370   국가기관  199141220.0    Y         NaN    NaN
4  2020  20191236817  2128208426    지자체  121000000.0    Y         NaN    NaN

In [19]:
lst_company = lst_company.groupby(['연도', '입찰공고번호', '사업자등록번호', '수요기관구분']).agg({'entity_name':'first', '입찰금액':np.sum})
lst_company.reset_index(inplace = True)
unlst_company = unlst_company.groupby(['연도', '입찰공고번호', '사업자등록번호', '수요기관구분']).agg({'entity_name':'first', '입찰금액':np.sum})
unlst_company.reset_index(inplace = True)
display(lst_company.head(), unlst_company.head())

     연도       입찰공고번호     사업자등록번호 수요기관구분 entity_name          입찰금액
0  2020  20191234001  2148156422   국가기관         에이텍  1.081740e+09
1  2020  20191240318  1018125905   국가기관        대한과학  3.158650e+06
2  2020  20200100683  3148128793   국가기관       알에프세미  6.490000e+05
3  2020  20200102317  6038111270   국가기관     CJ프레시웨이  7.000000e+07
4  2020  20200102575  4168114765    공기업         썬테크  1.613900e+08

     연도       입찰공고번호     사업자등록번호 수요기관구분 entity_name          입찰금액
0  2020  20191145477  6088101855    지자체        None  1.619000e+09
1  2020  20191204608  2208191439   국가기관        None  5.643940e+07
2  2020  20191224766  3148107556    지자체        None  6.280000e+08
3  2020  20191224806  1288623116    지자체        None  1.355000e+09
4  2020  20191232083  1208719916   국가기관        None  5.000000e+08

In [20]:
# 상장기업
lst_company1 = lst_company.groupby(['사업자등록번호','연도']).agg({'entity_name':'first', '입찰금액':np.sum}) 
lst_company1.reset_index(inplace = True)
lst_company1.head()

      사업자등록번호    연도 entity_name          입찰금액
0  1018109147  2020         현대차  2.932677e+10
1  1018109147  2021         현대차  3.256490e+10
2  1018109147  2022         현대차  3.983223e+10
3  1018118476  2020        대정화금  4.207855e+08
4  1018125905  2020        대한과학  2.892379e+09

In [21]:
np.mean(lst_company1['입찰금액'])

5674542083.057485

In [22]:
lst_company.사업자등록번호.nunique()

411

In [23]:
lst_company.입찰공고번호.nunique()

2412

In [24]:
#비상장기업
unlst_company1 = unlst_company.groupby(['사업자등록번호']).agg({'entity_name':'first', '입찰금액':np.sum})
unlst_company1.reset_index(inplace = True)
unlst_company1.head()

      사업자등록번호 entity_name         입찰금액
0  1010116587        None     283800.0
1  1010122885        None  188000000.0
2  1010144633        None   61247646.0
3  1010145888        None  325632045.0
4  1010148814        None   56870000.0

In [25]:
unlst_company.입찰공고번호.nunique()

149484

In [26]:
unlst_company.사업자등록번호.nunique()

40067

In [27]:
np.mean(unlst_company1['입찰금액'])

881625696.3440082

입찰공고번호의 unique 총합이 안맞는 이유 = 같은 조달사업에 낙찰기업이 상장기업과 비상장기업 복수낙찰되었기 때문이다.

## 수요기관별 조달 공고 현황(표3)

In [28]:
tobinsQ_Y # 비상장/상장 모두 있는 데이터

,연도,입찰공고번호,사업자등록번호,수요기관구분,입찰금액,낙찰여부,entity_name,market
0,2020,20191241947,1218211789,공기업,2380000.0,Y,NaN,NaN
1,2020,20191241963,1048620001,공기업,2380200.0,Y,NaN,NaN
2,2020,20200100170,2148753956,국가기관,683477980.0,Y,NaN,NaN
3,2020,20200100178,1138657370,국가기관,199141220.0,Y,NaN,NaN
4,2020,20191236817,2128208426,지자체,121000000.0,Y,NaN,NaN
...,...,...,...,...,...,...,...,...
164277,2022,20221246106,5438101257,지자체,70962000.0,Y,NaN,NaN
164278,2022,20221246034,1378604355,지자체,199752520.0,Y,NaN,NaN
164279,2022,20221246067,6158618363,지자체,110238380.0,Y,NaN,NaN
164280,2022,20221246475,6043196748,국가기관,26250000.0,Y,NaN,NaN
164281,2022,20221246774,4108668875,국가기관,204600000.0,Y,NaN,NaN

In [29]:
display(lst_company.head(), unlst_company.head()) # 상장 / 비상장

     연도       입찰공고번호     사업자등록번호 수요기관구분 entity_name          입찰금액
0  2020  20191234001  2148156422   국가기관         에이텍  1.081740e+09
1  2020  20191240318  1018125905   국가기관        대한과학  3.158650e+06
2  2020  20200100683  3148128793   국가기관       알에프세미  6.490000e+05
3  2020  20200102317  6038111270   국가기관     CJ프레시웨이  7.000000e+07
4  2020  20200102575  4168114765    공기업         썬테크  1.613900e+08

     연도       입찰공고번호     사업자등록번호 수요기관구분 entity_name          입찰금액
0  2020  20191145477  6088101855    지자체        None  1.619000e+09
1  2020  20191204608  2208191439   국가기관        None  5.643940e+07
2  2020  20191224766  3148107556    지자체        None  6.280000e+08
3  2020  20191224806  1288623116    지자체        None  1.355000e+09
4  2020  20191232083  1208719916   국가기관        None  5.000000e+08

In [30]:
df0 = lst_company.groupby(['수요기관구분', '연도', '입찰공고번호']).agg({'입찰금액':np.sum})
df0.reset_index(inplace = True)
df1 = unlst_company.groupby(['수요기관구분', '연도','입찰공고번호']).agg({'입찰금액':np.sum})
df1.reset_index(inplace = True)
display(df0, df1)

     수요기관구분    연도       입찰공고번호          입찰금액
0       공기업  2020  20200102575  1.613900e+08
1       공기업  2020  20200111256  7.637314e+08
2       공기업  2020  20200117450  5.085000e+09
3       공기업  2020  20200129345  3.792690e+08
4       공기업  2020  20200130530  7.997000e+04
...     ...   ...          ...           ...
2407    지자체  2022  20221213311  2.415000e+09
2408    지자체  2022  20221216804  1.978875e+09
2409    지자체  2022  20221234404  1.309000e+09
2410    지자체  2022  20221237945  2.018280e+09
2411    지자체  2022  20221238359  1.091000e+09

[2412 rows x 4 columns]

       수요기관구분    연도       입찰공고번호          입찰금액
0         공기업  2020  20191241947  2.380000e+06
1         공기업  2020  20191241963  2.380200e+06
2         공기업  2020  20191243311  3.900000e+08
3         공기업  2020  20200100021  3.491813e+08
4         공기업  2020  20200100066  1.038560e+08
...       ...   ...          ...           ...
149479    지자체  2022  20221247078  1.312260e+08
149480    지자체  2022  20221247145  2.283700e+02
149481    지자체  2022  20221247275  1.629633e+08
149482    지자체  2022  20221247317  1.944938e+08
149483    지자체  2022  20221247321  1.126040e+07

[149484 rows x 4 columns]

In [31]:
df_t = pd.concat([df0,df1],axis = 0)
df_t

       수요기관구분    연도       입찰공고번호          입찰금액
0         공기업  2020  20200102575  1.613900e+08
1         공기업  2020  20200111256  7.637314e+08
2         공기업  2020  20200117450  5.085000e+09
3         공기업  2020  20200129345  3.792690e+08
4         공기업  2020  20200130530  7.997000e+04
...       ...   ...          ...           ...
149479    지자체  2022  20221247078  1.312260e+08
149480    지자체  2022  20221247145  2.283700e+02
149481    지자체  2022  20221247275  1.629633e+08
149482    지자체  2022  20221247317  1.944938e+08
149483    지자체  2022  20221247321  1.126040e+07

[151896 rows x 4 columns]

In [32]:
df_t = df_t.groupby(['수요기관구분', '연도', '입찰공고번호']).agg({'입찰금액':np.sum})
df_t.reset_index(inplace = True)
df_t

       수요기관구분    연도       입찰공고번호          입찰금액
0         공기업  2020  20191241947  2.380000e+06
1         공기업  2020  20191241963  2.380200e+06
2         공기업  2020  20191243311  3.900000e+08
3         공기업  2020  20200100021  3.491813e+08
4         공기업  2020  20200100066  1.038560e+08
...       ...   ...          ...           ...
151813    지자체  2022  20221247078  1.312260e+08
151814    지자체  2022  20221247145  2.283700e+02
151815    지자체  2022  20221247275  1.629633e+08
151816    지자체  2022  20221247317  1.944938e+08
151817    지자체  2022  20221247321  1.126040e+07

[151818 rows x 4 columns]

In [33]:
df_t.groupby(['수요기관구분','연도']).agg({'입찰공고번호':np.size, '입찰금액':np.mean})

             입찰공고번호          입찰금액
수요기관구분 연도
공기업    2020    4487  4.191735e+08
       2021    4355  5.190060e+08
       2022    3868  4.237807e+08
국가기관   2020   26950  2.561071e+08
       2021   28163  2.971126e+08
       2022   26338  3.089883e+08
지자체    2020   19493  1.700586e+08
       2021   19604  1.883943e+08
       2022   18560  1.853679e+08

In [34]:
display(lst_company.groupby(['수요기관구분','연도']).agg({'사업자등록번호':np.size}), unlst_company.groupby(['수요기관구분','연도']).agg({'사업자등록번호':np.size}))

             사업자등록번호
수요기관구분 연도
공기업    2020       89
       2021      103
       2022       80
국가기관   2020      546
       2021      629
       2022      567
지자체    2020      143
       2021      155
       2022      120

             사업자등록번호
수요기관구분 연도
공기업    2020     4407
       2021     4260
       2022     3792
국가기관   2020    28458
       2021    30053
       2022    27734
지자체    2020    19582
       2021    19701
       2022    18669

In [35]:
## 여기서부터 하면 
## 할 것: 
# 표 3개 -> 1. 시장별 얼마나 입찰에 참여했는지 혹은 낙찰되었는지로 가도 됨/ 2. 상위 TOP3 업종별 시장별 비교(코스피, 코스닥, 코넥스)/ 3. 마지막으로 본데이터를 활용하여 낙찰 횟수를 비교해서(낙찰횟수로 그룹을 나누어) 시장별 재무, 토빈스Q 비교 
# 더 그리고 앞에 데이터 전처리 설명, 어떤 데이터 사용했는지 설명

## 시장별 입찰 및 낙찰 여부 (표4)

In [36]:
total_df = pd.read_parquet(path +'total_df.pqt', engine = 'pyarrow')
total_df.groupby(['시장', '입찰여부','낙찰여부']).agg({'낙찰여부': np.size, '매출':np.mean, '영업이익률': np.mean, '연구개발비':np.mean}).sort_values(by='시장', ascending = False)

                     낙찰여부            매출     영업이익률         연구개발비
시장     입찰여부  낙찰여부
KOSPI  False False   6028  1.465914e+12  0.044088  2.135313e+10
       True  False    383  2.724311e+12  0.047636  6.903642e+10
             True     437  9.031891e+12  0.050186  3.214182e+11
KOSDAQ False False  10549  1.371951e+11  0.045058  2.143540e+09
       True  False    645  7.896347e+10  0.033095  1.435225e+09
             True     605  1.064865e+11  0.039532  2.319167e+09
KONEX  False False    143  2.979934e+10  0.036242  9.355796e+08
       True  False     18  4.551764e+10 -0.022744  5.238506e+08
             True      17  3.442889e+10  0.031659  1.543302e+09

In [37]:
# 마지막으로 본데이터를 활용하여 낙찰 횟수를 비교해서(낙찰횟수로 그룹을 나누어) 시장별 재무, 토빈스Q 비교(표5) 
total_dfm = total_df[total_df['입찰여부'] == True]
total_dfm.groupby(['시장','낙찰여부']).agg({'낙찰여부': np.size, '입찰횟수_공기업':np.mean, '입찰횟수_지자체': np.mean, '입찰횟수_국가기관':np.mean, '낙찰수_공기업': np.mean, '낙찰수_지자체': np.mean, '낙찰수_국가기관':np.mean })

              낙찰여부  입찰횟수_공기업  입찰횟수_지자체  입찰횟수_국가기관   낙찰수_공기업   낙찰수_지자체  \
시장     낙찰여부
KONEX  False    18  1.611111  1.722222   2.111111  0.000000  0.000000
       True     17  5.176471  0.705882   2.235294  0.411765  0.294118
KOSDAQ False   645  0.917829  1.085271   1.899225  0.000000  0.000000
       True    605  1.623140  1.365289   5.892562  0.201653  0.299174
KOSPI  False   383  0.877285  0.699739   1.681462  0.000000  0.000000
       True    437  0.814645  0.707094   3.180778  0.210526  0.315789

              낙찰수_국가기관
시장     낙찰여부
KONEX  False  0.000000
       True   1.176471
KOSDAQ False  0.000000
       True   1.614876
KOSPI  False  0.000000
       True   1.389016

In [38]:
n = len(total_dfm)
dt = (total_dfm.groupby(['시장']).size() / n) * 100
dt.sort_values(ascending = False)

시장
KOSDAQ    59.382423
KOSPI     38.954869
KONEX      1.662708
dtype: float64

In [39]:
# Kospi 입찰기업 중 상위 TOP3 업종별 낙찰비율 (표6)
kospi = total_df[total_df['시장'] == 'KOSPI']
kospi_t = kospi[kospi['입찰여부'] == True] 
kospi_t.loc[~kospi_t['업종분류코드'].isin(['C', 'H', 'J']), '업종분류코드'] = 'etc'
kospi_t.groupby(['업종분류코드', '낙찰여부']).agg({'낙찰여부': np.size, '입찰횟수_공기업':np.mean, '입찰횟수_지자체': np.mean, '입찰횟수_국가기관':np.mean, '낙찰수_공기업': np.mean, '낙찰수_지자체': np.mean, '낙찰수_국가기관':np.mean})

KeyError: "Column(s) ['낙찰수(공기업)', '낙찰수(국가기관)', '낙찰수(지자체)', '입찰횟수(공기업)', '입찰횟수(국가기관)', '입찰횟수(지자체)'] do not exist"

In [ ]:
n = len(kospi)
dt = (kospi.groupby(['업종분류코드']).size() / n) * 100
dt.sort_values(ascending = False)

업종분류코드
C    69.910530
G     9.153476
J     5.588438
F     4.019270
H     3.771507
L     1.803166
D     1.555403
M     1.348933
N     1.169993
A     0.467997
R     0.467997
I     0.302822
P     0.165175
S     0.165175
B     0.110117
dtype: float64

In [ ]:
# Kosdaq 입찰기업 중 상위 TOP3 업종별 낙찰비율(표7)
kosdaq = total_df[total_df['시장'] == 'KOSDAQ']
kosdaq_t = kosdaq[kosdaq['입찰여부'] == True] 
kosdaq_t.loc[~kosdaq_t['업종분류코드'].isin(['C', 'J', 'G']), '업종분류코드'] = 'etc'
kosdaq_t.groupby(['업종분류코드', '낙찰여부']).agg({'낙찰여부': np.size, '입찰횟수_공기업':np.mean, '입찰횟수_지자체': np.mean, '입찰횟수_국가기관':np.mean, '낙찰수_공기업': np.mean, '낙찰수_지자체': np.mean, '낙찰수_국가기관':np.mean})

              낙찰여부  입찰횟수(공기업)  입찰횟수(지자체)  입찰횟수(국가기관)  낙찰수(공기업)  낙찰수(지자체)  \
업종분류코드 낙찰여부
C      False   479   0.962422   0.747390    1.365344  0.000000  0.000000
       True    385   2.202597   1.254545    2.275325  0.290909  0.387013
G      False    63   2.095238   3.460317    5.730159  0.000000  0.000000
       True     64   1.609375   3.296875   34.062500  0.046875  0.281250
J      False   146   0.438356   0.938356    1.479452  0.000000  0.000000
       True    178   0.415730   0.696629    2.241573  0.033708  0.168539
etc    False    32   0.156250   1.437500    2.281250  0.000000  0.000000
       True     43   0.162791   1.511628    3.976744  0.046512  0.209302

              낙찰수(국가기관)
업종분류코드 낙찰여부
C      False   0.000000
       True    0.890909
G      False   0.000000
       True    5.750000
J      False   0.000000
       True    1.460674
etc    False   0.000000
       True    1.372093

In [ ]:
n = len(kosdaq)
dt = (kosdaq.groupby(['업종분류코드']).size() / n) * 100
dt.sort_values(ascending = False)

업종분류코드
C    68.712099
J    15.434594
G     7.074791
M     3.804505
F     1.739821
N     0.736356
P     0.671383
R     0.483685
H     0.404274
E     0.317644
I     0.238233
A     0.158822
D     0.137164
L     0.086630
dtype: float64

In [ ]:
total_df['시장'].value_counts()

KOSDAQ    13852
KOSPI      7265
KONEX       238
Name: 시장, dtype: int64

In [ ]:
# Kodex 입찰기업 중 상위 TOP3 업종별 낙찰비율(표8)
konex = total_df[total_df['시장'] == 'KONEX']
konex_t = konex[konex['입찰여부'] == True]
konex_t['업종분류코드'].value_counts() 
konex_t.groupby(['업종분류코드', '낙찰여부']).agg({'낙찰여부': np.size, '입찰횟수_공기업':np.mean, '입찰횟수_지자체': np.mean, '입찰횟수_국가기관':np.mean, '낙찰수_공기업': np.mean, '낙찰수_지자체': np.mean, '낙찰수_국가기관':np.mean})

              낙찰여부  입찰횟수(공기업)  입찰횟수(지자체)  입찰횟수(국가기관)  낙찰수(공기업)  낙찰수(지자체)  \
업종분류코드 낙찰여부
C      False    16     1.8125     1.9375      2.2500    0.0000    0.0000
       True     16     5.5000     0.7500      2.3125    0.4375    0.3125
J      False     3     0.0000     0.0000      1.0000    0.0000    0.0000
       True      1     0.0000     0.0000      1.0000    0.0000    0.0000

              낙찰수(국가기관)
업종분류코드 낙찰여부
C      False     0.0000
       True      1.1875
J      False     0.0000
       True      1.0000

In [104]:
n = len(konex)
dt = (konex.groupby(['업종분류코드']).size() / n) * 100
dt.sort_values(ascending = False)

업종분류코드
C    71.008403
J    16.806723
M     5.042017
F     3.781513
N     1.260504
P     1.260504
G     0.840336
dtype: float64

In [ ]:
## csv로 만들기